<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>
<body>

<div class = "container">
    <div class="row">
        <div class="col-sm alert alert-primary">
            <div class="riripacifico">Home</div>
        </div>
        <a href="injera.html">

            <div class="col-sm alert alert-primary">
                <div class="riripacifico">Gallery</div>
            </div>

        </a>


    </div>

</div>

</body>
</html>