<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>

<div class = "container">
    <div class="row">
        <a href="index.html">
            <div class="col-sm alert alert-primary">
                <div class="riripacifico">Home</div>
            </div>
        </a>

        <a href="gallery.html">
            <div class="col-sm alert alert-primary">
                <div class="riripacifico">Gallery</div>
            </div>
        </a>


    </div>

</div>
    <img src="./images/ethiopiaplain_new.jpg" width="15%"  alt="Ethiopia"/>
    <img src="./images/injera.jpg" width="15%" alt="injera"/><br />




    <h2>Injera- Ethiopia</h2>

    <h2>Ingredients</h2>
    <ul>

        <li>¾ cup teff flour (found in health food shops)</li>

        <li>3½ cups water</li>

        <li>pinch of salt</li>
    </ul>

        <h2>Directions</h2>

    <p>Standing time 2 days</p>


<p>Mix teff with the water. Leave to stand in a covered bowl
    for a couple of days until it starts to bubble.</p>

<p>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.

Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.

    Do not let it brown, and make sure that it is not too thick.</p>
</body>
</html>